@mixin header {
    display: flex;
    flex-flow: column;

    .header-top {
        height: 60px;
        display: flex;
        justify-content: space-between;
        padding-inline: 2rem;


        img[alt="e-home_image"] {
            height: 100%;
        }

        #user {
            display: flex;
            align-items: center;
        }

        img[alt="user_avatar"] {
            height: 100%;
        }
    }

    .header-bottom {
        background-color: $header-green;
        font-size: 1.5rem;
        padding: 0 2rem;
        display: flex;
        align-items: center;

        img[alt="btn_home"] {
            height: 50px;
            margin-right: 1rem;
        }

        .marquee {
            font-family: Arial, Helvetica, sans-serif;
            padding-block: .5em;
        }
    }
}

 
@mixin nav { 
    $nav-border-left: inset 10px 0 0 lighten($light-blue,10%);

    display: flex;
    flex-flow: column;
    gap: 1rem;
    cursor: pointer;
    font-family: noto;

    li {
        padding: .3em .5em;
        color: $white;
    }

    .nav-title {
        background-color: $dark-blue;
        color: $white;
        padding-left: 1rem;
        box-shadow: $nav-border-left;

        &.green {
            background-color: $green;
            box-shadow: inset 10px 0 0 lighten($green,20%);
        }

        &.open+.nav-tags {
            height: auto;
        }
    }

    .nav-tags {
        height: 0;
        overflow-y: hidden;


        .nav-tag {
            padding-left: 1.5em;
            position: relative;

            &::before {
                content: '—';
                margin-right: 10px;
            }

            &.active {
                background-color: $dark-white;
                box-shadow: $nav-border-left;
                color: $black;
            }
        }
    }

    #back-to-main {
        width: 80%;
        background-color: $green;
        padding: .5em .5em;
        border-radius: .5rem;
        text-align: center;
        margin-inline: auto;
        margin-top: 3rem;
        text-decoration: none;
        color: $white;
        font-family: microsoftBlack;
    }
}