extends ./wData_c.pug

block localLinks 
    link(rel="stylesheet" href="css/week-data.min.css")
    script(type="module" src="js/week-data-update.js") 

block form title
    h2 修改《每週專案PPT & 每週會議記錄》

block select
    section.selectWeek
        input#week(type="week" name="week")
        a(href="wData_c.html") 
            button(type="button")
                <i class="fa-regular fa-clock"></i>
                |回到上傳檔案

block PPT
    label(for="PPT-file")
        p 重新選擇檔案...
        button(type="button") 上傳
    input#PPT-file(type="file" name="PPT-file" style="display:none;" accept="application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword") 
    ul.file-history
        +fileHistory
        +fileHistory
        +fileHistory


block meeting
    label(for="meeting-file")
        p 重新選擇檔案...
        button(type="button") 上傳
    input#meeting-file(type="file" name="meeting-file" style="display:none;" accept="application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword") 
    ul.file-history
        +fileHistory
        +fileHistory
        +fileHistory
