extends ./wData_c.pug


block form title
    h2 修改《每週專案PPT & 每週會議記錄》

block select
    section.selectWeek
        input#week(type="week" name="week")
        button(type="button")
            <i class="fa-regular fa-clock"></i>
            |選擇其他日期

block PPT
    p.file-info 目前檔案版本：
        span 2022.10.18 AM 12:30
    input#PPT-file(type="file" name="PPT-file" style="display:none;") 
    ul.file-history
        +fileHistory
        +fileHistory
        +fileHistory


block meeting
    p.file-info 目前檔案版本：
        span 2022.10.18 AM 12:30
    input#meeting-file(type="file" name="meeting-file" style="display:none;")
    ul.file-history
        +fileHistory
        +fileHistory
        +fileHistory
