extends ./working-create.pug


block localLinks 
    link(rel="stylesheet" href="css/working-report.min.css")
    script(type="module" src="js/working-update.js") 


block form title 
    h2 修改《每日工作重點》

block goto
    p 工作重點日期：
    input#chose-day(type="date" name="chose-day")
    a(href="working-create.html") 
        button(type="button")
            <i class="fa-solid fa-pen"></i>
            |建立今日回報