@mixin btn_confirm_style {
    button:is(.cancel, .confirm) {
        font-family: microsoftBlack;
        font-size: 1.75rem;
        padding: $btn_big_padding;
        border-radius: 1rem;
        color: $clr_dark-white;

        &.cancel {
            background-color: $clr_cancel-btn;
        }

        &.confirm {
            background-color: $clr_confirm-btn;
        }
    }
}

@mixin btns_confirm {
    .confirm_btns {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        gap: 3rem;
        @include btn_confirm_style;
    }
}

@mixin section_border {
    border: 1px solid transparentize($clr_dark-black, .5);
    border-radius: .3rem;
}

@mixin backBtn {
    section.back_btn {
        margin-bottom: 1rem;
        display: flex;
        justify-content: end;

        button {
            background-color: $clr_decorate-orange;
            font-size: 1.5rem;
            padding: $btn_long_padding;
        }
    }
}

@mixin missionList {
    table.list-by-index {
        .table-data:last-child a {
            color: $clr_dark-black;
        }
    }

    .controller {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
    }
}


@mixin form-title {
    @include section-border;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: $fontSize_input;
    padding: $form_title-padding;

    button {
        background-color: $clr_light-green;
        color: $clr_dark-white;
        font-size: 1.5rem;
        padding: $btn_normal_padding;

        i {
            margin-right: .5em;
        }
    }
}