@import 'variables/forward';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, serif;
    background-color: $clr_dark-white;

    &::-webkit-scrollbar {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparentize($clr_dark-black, .5);
        border-radius: .5rem;
    }
}

header {
    display: flex;
    flex-flow: column;

    .header-top {
        height: 60px;
        display: flex;
        justify-content: space-between;
        padding-inline: 2rem;

        img[alt="e-home_image"] {
            height: 100%;
        }

        #user {
            display: flex;
            align-items: center;
        }

        img[alt="user_avatar"] {
            height: 100%;
        }
    }

    .header-bottom {
        background-color: $clr_main-green;
        font-size: 1.5rem;
        padding: 0 2rem;
        display: flex;
        align-items: center;

        img[alt="btn_home"] {
            height: 50px;
            margin-right: 1rem;
        }

        .marquee {
            font-family: Arial, Helvetica, sans-serif;
            padding-block: .5em;
        }
    }
}

main {
    display: flex;

    button {
        cursor: pointer;
    }

    aside {
        width: 240px;
        background-color: $clr_main-green;

        nav {
            $nav-border-left: inset 10px 0 0 lighten($clr_section-header, 20%);

            display: flex;
            flex-flow: column;
            gap: 1rem;
            cursor: pointer;
            font-family: noto;

            li {
                padding: .3em .5em;
                color: $clr_dark-white;
            }

            .nav-title {
                background-color: $clr_section-header;
                color: $clr_dark-white;
                padding-left: 1rem;
                box-shadow: $nav-border-left;

                &.green {
                    background-color: $clr_light-green;
                    box-shadow: inset 10px 0 0 lighten($clr_light-green, 20%);
                }

                &.open+.nav-tags {
                    height: auto;
                }
            }

            .nav-tags {
                height: 0;
                overflow-y: hidden;


                .nav-tag {
                    padding-left: 1.5em;
                    position: relative;

                    &::before {
                        content: '—';
                        margin-right: 10px;
                    }

                    &.active {
                        background-color: $clr_dark-white;
                        box-shadow: $nav-border-left;
                        color: $clr_dark-black;
                    }
                }
            }

            #back-to-main {
                width: 80%;
                background-color: $clr_light-green;
                padding: .5em .5em;
                border-radius: .5rem;
                text-align: center;
                margin-inline: auto;
                margin-top: 3rem;
                text-decoration: none;
                color: $clr_dark-white;
                font-family: microsoftBlack;
            }
        }
    }
}