@import '../templates/scss/template';

#main-page {
    @include backBtn;

    section.formTitle {
        .info {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            font-family: noto;
            font-weight: 400;
            font-size: 1.5rem;
            padding: 2em;
            @include section_border;
        }
    }

    section.missionCreate {
        form {
            padding: $article-padding;
            display: flex;
            flex-flow: column;
            gap: 2rem;
            font-size: 1.5rem;
            @include section_border;

            &>* {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            [class^="mission_"] :not(label) {
                flex: 1;
            }

            textarea {
                resize: none;
            }

            & :is(input, select, textarea) {
                margin-inline: 1em;
                font-size: 1.5rem;
                padding: $input-padding;
            }

            .mission_attach {
                .upload-area {
                    display: flex;
                    flex-flow: column;
                    gap: 1rem;

                    .upload-list {
                        display: flex;
                        align-items: center;
                        .done {
                            flex: 0;
                            height: 80%;
                            aspect-ratio: 1;
                            font-size: 1.5rem;
                            padding: 1em;
                            border-radius: 50%;
                            background-color: $clr_light-green;
                            position: relative;
                            i{
                                position: absolute;
                                transform: translate(-50% , -50%);
                                color: $clr_dark-white;
                            }
                        }

                    }
                }

                #mission_upload-attach {
                    display: flex;
                    align-items: center;
                    flex: 1;
                    margin-inline: 1em;
                    border: 1px solid -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
                    background-color: field;
                    color: #75758b;
                    padding: $input-padding;
                    cursor: pointer;
                }


                .btns {
                    display: flex;
                    gap: 1rem;
                    margin-inline: 1em;

                    button {
                        font-size: 1.5rem;
                        padding: .5em 1.5em;

                        i {
                            margin-right: .5em
                        }
                    }
                }
            }
        }
    }

    @include btns_confirm;
}