@import '../templates/scss/template';

#main-page {
    input[type="number"] {

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            display: none;
            margin: 0;
        }
    }

    article.selectYear {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 2em;
        margin-bottom: 2rem;
        @include section_border;

        #month {
            font-size: 1.5rem;
            padding: $input-padding;
            width: 5em;
        }
    }

    article.main-content {
        @include section_border;
        padding: $article_padding;
        font-size: 1.5rem;
        display: flex;
        flex-flow: column;
        gap: 2rem;

        .place {
            display: grid;
            grid-template-columns: 10em repeat(2, 1fr);
            gap: 3rem;

            .name{
                text-align: end;
            }
        }
    }

    @include btns_confirm;
}