@import '../templates/scss/template';

#main-page {
    section.mission-control {
        display: flex;
        gap: 1rem;
        margin-bottom: .5rem;

        a {
            font-size: 1.5rem;
            text-decoration: none;
            color: $clr_dark-white;
            padding: $btn_long_padding;
            border-radius: .5rem;
            font-weight: 600;
            
            i {
                padding-right: .5em;
            }

            &:first-child {
                background-color: $clr_main-green;
            }

            &:last-child {
                background-color: $clr_light-green;
            }
        }
    }

    section.filter {
        h3 {
            font-size: 1.75rem;

            span {
                color: $clr_light-green;
                padding-left: 1em;
            }
        }

        form {
            $input-border-radius: .5rem;

            display: flex;
            flex-flow: column;
            gap: 1rem;
            background-color: $clr_main-decorate-blue;
            padding: 1rem 2rem;
            border-radius: $input-border-radius;

            .formContent {
                display: flex;
                font-size: 1.5rem;

                .formBody {
                    display: flex;
                    flex-flow: column;
                    gap: 1rem;

                    input,
                    select {
                        font-size: 1.25rem;
                        padding: $input-padding;
                        border-radius: $input-border-radius;
                        margin-inline: .25em;

                        &::placeholder {
                            padding-left: .5em;
                        }
                    }

                    &>span:nth-of-type(1) {
                        input {
                            width: 10rem;
                        }

                        select {
                            width: 6.5em;
                        }
                    }

                    &>span:nth-of-type(2) {
                        select {
                            width: calc(80% / 4);
                        }
                    }

                    &>span:nth-of-type(3) {

                        &>input:first-of-type {
                            margin-right: 3rem;
                        }
                    }
                }
            }

            .formSubmit {
                flex: 1;
                display: grid;
                place-items: center;
                min-width: 12rem;

                button {
                    font-size: 1.5rem;
                    background-color: $clr_section-header;
                    padding: $btn_big_padding;
                }
            }
        }
    }

    section.year-achievement .container {
        display: flex;
        gap: 1.5rem;
        padding: 1em;

        .block {
            flex: 1;
            display: flex;
            flex-flow: column;
            box-shadow: 0 0 8px transparentize($clr_dark-black, .5);
            border-radius: .5rem;
            padding: .5em 1em;
            gap: .5em;


            p:first-child {
                font-size: 1.5rem;
                font-family: noto;
            }

            p:last-child {
                align-self: flex-end;

                span {
                    font-size: 3.75rem;
                }
            }

            &.yearEnd-countdown {
                max-width: 12rem;

                span {
                    color: $clr_light-green;
                }
            }

            &.total-sales span {
                color: $clr_main-decorate-blue;
            }

            &.unachieved-sales span {
                color: $clr-decorate-pink;
            }

            &.success-rate {
                max-width: 12rem;

                span {
                    color: $clr_decorate-gray;
                }
            }
        }
    }

    section.budget-target {
        table {
            $fontSize_table-title: 1.25rem;
            $fontSize_table-data: 1rem;
            font-size: $fontSize_table-title;

            .table-data {
                font-size: $fontSize_table-data;
            }
        }
    }

    section.place-achievement {
        table {
            tbody tr td:first-child {
                text-align: start;
            }
        }
    }

    section.mission-dashboard {
        .container {
            $padding: 1rem;
            display: flex;
            gap: 1rem;
            padding: $padding;

            @mixin missionDashboard($i, $clr) {
                &:nth-child(#{$i}) {
                    background-color: $clr;
                    position: relative;

                    p:first-child {
                        color: $clr;
                    }
                }
            }

            .block {
                flex: 1;
                text-align: center;
                display: flex;
                flex-flow: column;
                border-radius: .5rem;

                p {
                    &:first-child {
                        font-size: 1rem;
                        padding: .5em;
                        background-color: rgb(255, 255, 255, 0.5);
                        font-weight: 900;
                    }

                    &:last-child {
                        font-size: 4rem;
                        color: $clr_dark-white;

                        &::after {
                            content: '件';
                            font-size: 1rem;
                            position: absolute;
                            right: $padding;
                            bottom: $padding;
                            color: currentColor;
                        }
                    }
                }

                @include missionDashboard(1, $clr_decorate-gray);
                @include missionDashboard(2, $clr_main-green);
                @include missionDashboard(3, $clr_light-green);
                @include missionDashboard(4, $clr_decorate-brown);
                @include missionDashboard(5, $clr_main-decorate-blue);
                @include missionDashboard(6, $clr-decorate-pink);
                @include missionDashboard(7, $clr_decorate-orange);


                &:nth-child(5) {
                    p:last-child::after {
                        content: '%';
                    }
                }
            }
        }
    }

    section.mission-list {
        @include missionList;
    }

    section.daily-routine {
        table {
            .table-data {
                .no-show {
                    display: none;
                }

                ol {
                    text-align: start;
                    padding-left: 2rem;
                }
            }
        }
    }

    section.weekly-data {
        table {
            tr[class^='weeklyData_'] {
                line-height: 1.5em;
            }

            a {
                display: inline-block;
                text-decoration: none;
                color: $clr_dark-black;
                background-color: $clr_main-decorate-blue;
                padding: $btn_normal_padding;
                border-radius: .5rem;
                margin-block: .2em;
                color: $clr_dark-white;
            }
        }


        ul {
            padding-left: 1em;
        }
    }
}