@import '_template.scss';

#main-page {
    width: 100%;
    padding-inline: 1rem;

    section {
        margin-bottom: 2rem;

        &>h2 {
            font-size: $fontSize_h2;
            color: $clr_dark-white;
            text-align: center;
            background-color: $clr_section-header;
            padding-block: .5em;
        }

        table {
            width: 100%;
            text-align: center;
            font-size: $fontSize_table-title;
            border-collapse: collapse;
            font-family: microsoftBlack;

            thead {
                tr {
                    background-color: $clr_decorate-gray;

                    &:first-child {
                        background-color: $clr_dark-black;
                        color: $clr_dark-white;
                    }
                }
            }

            .table-data {
                font-size: $fontSize_table-data;
                font-family: roboto;
            }

            & :is(th, td) {
                padding: 8px;
            }
        }

        button {
            background-color: $clr_main-decorate-blue;
            color: $clr_dark-white;
            border: 0;
            font-size: 1rem;
            padding: .2em 2em;
            border-radius: .5rem;
        }
    }

    section.showing-tab {
        display: flex;
        flex-flow: column;
        height: 100px;
        padding-block: 1rem;
        margin-bottom: 0;

        .nowTab {
            display: flex;
            align-items: center;
            position: relative;

            &::after {
                content: '';
                width: 100%;
                height: 3px;
                background-color: $clr_decorate-gray;
                position: absolute;
                z-index: -1;
            }

            &>* {
                background-color: $clr_dark-white;
            }

            i {
                font-size: 2em;
            }

            p {
                font-size: 1.5rem;
                padding-inline: .5em;

                span :last-child span {
                    color: $clr_main-decorate-blue;
                }
            }
        }

        .exports {
            align-self: flex-end;
        }
    }

    section.mission-control {
        display: flex;
        gap: 1rem;
        margin-bottom: .5rem;

        a {
            font-size: 1.5rem;
            text-decoration: none;
            color: $clr_dark-white;
            padding: .3em 1.5em;
            border-radius: .5rem;
            font-weight: 600;

            i {
                padding-right: .5em;
            }

            &:first-child {
                background-color: $clr_main-green;
            }

            &:last-child {
                background-color: $clr_light-green;
            }
        }
    }

    section.filter {
        h3 {
            font-size: 1.75rem;

            span {
                color: $clr_light-green;
                padding-left: 1em;
            }
        }

        form {
            $input-padding: .2rem;
            $input-border-radius: .5rem;

            display: flex;
            gap: 5px;
            background-color: $clr_main-decorate-blue;
            padding: 1rem 2rem;
            border-radius: $input-border-radius;

            .formContent {
                display: flex;
                flex-flow: column;
                justify-content: center;
                font-size: 1.5rem;
                gap: 10px;

                &>span {
                    flex: 1;
                }

                label {
                    margin-right: .5em;
                }

                input {
                    font-size: 1.25rem;
                    padding-block: $input-padding ;
                    border-radius: $input-border-radius;


                    &#day-start+span {
                        padding-inline: 1em;
                    }

                    &::placeholder {
                        padding-left: .5em;
                    }
                }

                select {
                    font-size: 1.25rem;
                    padding-block: $input-padding;
                    border-radius: $input-border-radius;

                    option {
                        padding-left: .5em;
                    }
                }

                &>span:nth-of-type(1) {
                    input {
                        width: 180px;
                    }

                    select {
                        width: 120px;
                    }
                }

                &>span:nth-of-type(2) {
                    select {
                        width: calc(80% /4);
                    }
                }

                &>span:nth-of-type(3) {

                    &>input:first-of-type {
                        margin-right: 3rem;
                    }
                }
            }

            .formSubmit {
                flex: 1;
                display: flex;
                justify-content: end;
                align-items: center;

                button {
                    font-size: 1.5rem;
                    background-color: $clr_section-header;
                    padding: .6em 1em;
                }
            }
        }
    }

    section.year-achievement .container {
        display: flex;
        gap: 1.5rem;
        padding: 1em;


        .block {
            flex: 1;
            display: flex;
            flex-flow: column;
            box-shadow: 0 0 8px $clr_dark-black;
            border-radius: .5rem;
            padding: .5em 1em;
            gap: .5em;


            p:first-child {
                font-size: 1.5rem;
                font-family: noto;
            }

            p:last-child {
                align-self: flex-end;

                span {
                    font-size: 3.75rem;
                }
            }

            &.yearEnd-countdown {
                max-width: 12rem;

                span {
                    color: $clr_light-green;
                }
            }

            &.total-sales span {
                color: $clr_main-decorate-blue;
            }

            &.unachieved-sales span {
                color: $clr-decorate-pink;
            }

            &.success-rate {
                max-width: 12rem;

                span {
                    color: $clr_decorate-gray;
                }
            }
        }
    }





    section.budget-target {
        table {
            $fontSize_table-title: 1.25rem;
            $fontSize_table-data: 1rem;
            font-size: $fontSize_table-title;

            .table-data {
                font-size: $fontSize_table-data;
            }
        }
    }

    section.place-achievement {
        table {
            $fontSize_table-title: 1.5rem;
            $fontSize_table-data: 1.25rem;
            font-size: $fontSize_table-title;

            tbody tr td:first-child {
                text-align: start;
            }

            .table-data {
                font-size: $fontSize_table-data;
            }
        }
    }

    section.mission-dashboard {
        .container {
            $padding: 1rem;
            display: flex;
            gap: 1rem;
            padding: $padding;

            .block {
                flex: 1;
                text-align: center;
                display: flex;
                flex-flow: column;
                border-radius: .5rem;

                p {
                    &:first-child {
                        padding: .5em;
                        background-color: rgb(255, 255, 255, 0.5);
                        font-weight: 900;
                    }

                    &:last-child {
                        font-size: 5.625rem;
                        color: $clr_dark-white;

                        &::after {
                            content: '件';
                            font-size: 1rem;
                            position: absolute;
                            right: $padding;
                            bottom: $padding;
                            color: currentColor;
                        }
                    }
                }

                &:nth-child(1) {
                    background-color: $clr_decorate-gray;
                    position: relative;

                    p:first-child {
                        color: $clr_decorate-gray;
                    }
                }

                &:nth-child(2) {
                    background-color: $clr_main-green;
                    position: relative;

                    p:first-child {
                        color: $clr_main-green;
                    }

                }

                &:nth-child(3) {
                    background-color: $clr_light-green;
                    position: relative;

                    p:first-child {
                        color: $clr_light-green;
                    }
                }

                &:nth-child(4) {
                    background-color: $clr_decorate-brown;
                    position: relative;

                    p:first-child {
                        color: $clr_decorate-brown;
                    }
                }

                &:nth-child(5) {
                    background-color: $clr_main-decorate-blue;
                    position: relative;

                    p:first-child {
                        color: $clr_main-decorate-blue;
                    }

                    p:last-child::after {
                        content: '%';
                    }
                }

                &:nth-child(6) {
                    background-color: $clr-decorate-pink;
                    position: relative;

                    p:first-child {
                        color: $clr-decorate-pink;
                    }
                }

                &:nth-child(7) {
                    background-color: $clr_decorate-orange;
                    position: relative;

                    p:first-child {
                        color: $clr_decorate-orange;
                    }

                }
            }
        }
    }

    section.mission-list {
        table.list-by-index {
            $fontSize_table-title: 1.625rem;
            $fontSize_table-data: 1.5rem;
            font-size: $fontSize_table-title;

            .table-data {
                font-size: $fontSize_table-data;
            }
        }

        table.list-by-member {
            $fontSize_table-title: 1.5rem;
            $fontSize_table-data: 1.625rem;
            font-size: $fontSize_table-title;

            .table-data {
                font-size: $fontSize_table-data;
            }
        }


        .controller {
            display: flex;
            justify-content: center;
            gap: 1rem;
            padding: 1rem;
        }
    }

    section.daily-routine {
        table {
            $fontSize_table-title: 1.625rem;
            $fontSize_table-data: 1.5rem;
            font-size: $fontSize_table-title;

            .table-data {
                font-size: $fontSize_table-data;

                .no-show {
                    display: none;
                }

                ol {
                    text-align: start;
                    padding-left: 2rem;
                }
            }
        }
    }

    section.weekly-data {
        table {
            tr[class^='weeklyData_'] {
                line-height: 1.5em;
            }

            a {
                text-decoration: none;
                color: $clr_dark-black;
                background-color: $clr_main-decorate-blue;
                padding: .2em .5em;
                border-radius: .5rem;
            }
        }


        ul {
            padding-left: 1em;
        }
    }
}