$white:#fff;
$black:#000;
$dark-black:#101010;
$dark-white:#f6f6f6;
$dark-blue:#2e486f;
$cyan:#6fc0c0;
$orange:#fd9a54;
$green:#99cc64;
$light-brown:#c49159;
$light-blue:#70c2e3;
$pink:#f298a6;
$gray:#afafc7;
$dark-green:#58939f;
$dark-brown:#a77676;
 



$header-green:#7ac3d2;