
$clr_dark-black:#101010;
$clr_dark-white:#f6f6f6;


// main color
$clr_main-green:#58939f;
$clr_section-header:#2e486f;
$clr_main-decorate-blue:#70c2e3;
$clr_light-green:#99cc64;



// decorate color
$clr-decorate-pink:#f298a6;
$clr_decorate-gray:#afafc7;
$clr-decorate-orange:#fd9a54;
$clr_decorate-brown:#c49159;

$clr_bad-value:#DC143C;
$clr_good-value:#6495ED;
